/* Styling body elements */
body{
    font-family: 'Roboto', sans-serif;
    color: black;
    box-sizing: border-box;
    font-size: 14pt;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* removing the lists styles */
.navbar{
    list-style-type: none;
}

.nav-link {
    color:black;
    margin-left: 1rem;
}


.navbar a:hover {
    border-bottom: solid 3px #D49E8D;
    color: black;
}

.pic-home{
    width: 100%;
    height: auto;
}

picture {
    position: relative;
}

.text-center {
    color: wheat;
}