/* Styling body elements */
body{
    font-family: 'Roboto', sans-serif;
    color: black;
    box-sizing: border-box;
    font-size: 14pt;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Styling the header */
.navbar {
    list-style-type: none;
    background-color: rgb(240, 238, 238);
}
a {
    text-decoration: none;
}
.nav-link {
    color:black;
    margin-left: 1rem;
}
.navbar a:hover {
    border-bottom: solid 3px #D49E8D;
    color: black;
}
/* ------------------
   HOME PAGE-MOBILE  
------------------ */
.home-pic img {
    width: 100%;
    height: auto;
    position: relative;
}

.text-center h1 {
    font-size: 24pt;
    font-weight: 600;
}

.text-center {
    margin-top: 5rem;
}
/* -------------------------
       ABOUT PAGE-MOBILE   
   ------------------------- */
.my-pic {
    margin-top: 2rem;
    width: 70%;
    height: auto;
    margin-left: 10%;
}
.about>h4 {
    color: #683B2B;
    font-size: 24pt;
    font-weight: 400;
}
.about {
    margin: auto;
    width: 80%;
    background-color: #F3F0E6;
    padding: 2rem;
    font-size: 14pt;
}
/* .row img {
    animation: move-from-left 2s;
    animation-fill-mode: forwards;
    }    
@keyframes move-from-left {        
    from{transform: translatex(-500px);}
    to {transform: translatex(22%);}
    } */
.about {
    animation: move-from-left 2s;
    animation-fill-mode: forwards;
    }   
@keyframes move-from-left {        
    from{transform: translatex(-500px);}
    to {transform: translatex(1%);}
    }
.style {
    margin: auto;
    width: 80%;
    display: block;
    border-radius: 0.6rem;
    background-color: #F3F0E6;
    border: none;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 12pt;
}
.text-contact>h5 {
    color: #683B2B;
    font-size: 24pt;
    font-weight: 400;
    margin-top: 2rem;
    margin-left: 3rem;
}
.text-contact>p {
    margin-left: 10%;
}
.form>p {
    margin-left: 3rem;
}
button {
    margin: auto;
    background-color: #D6B894;
    border-radius: 0.6rem;
    border:none;
    color: white;
    margin-top: 2rem;
    text-align: left;
    margin-bottom: 2rem;
    padding: 5px 10px 5px 10px;
    margin-left: 3.5rem;
}
button:hover {
    background-color: #D49E8D ;
}
/* -------------------
   EXPLORE PAGE-MOBILE 
 --------------------- */
 /* Add commmon styles to all texts */
.graphic-text, .web-text, .ux-text, .cms-text h5 {
    display: block;
    margin: auto;
    color: white;
    font-weight: 700;
    padding: 1rem;
    width: 45%;
    text-align: center;
} 
/* styling the Graphic part */
.graphic-back {
    display: block;
    margin: auto;
    width: 62%;
    height: 298px;
    background-color: #F8E4DD;
    margin-left: 12%;
    animation: back-move 2s;
    animation-fill-mode: forwards;
    margin-top: 3rem;
}
@keyframes back-move {        
    from{transform: translatex(1000px);}
    to {transform: translatex(10%);}
}
.graphic-pic {
    position: relative;
    display: inline-block;
}
.graphic-pic img{
    display: block;
    margin: auto;
    width: 70%;
    margin-top: -16.5rem;
    /* z-index: 1; */
}
.graphic-text h5 {
    color: white;
    background-color: #D49E8D;
    padding: 1rem;
    margin-top: -2.8rem;
}
.graphic-text h5:hover {
    background-color: #b88576;
}

/* styling the Web part */
.web-back {
    display: block;
    margin: auto;
    width: 60%;
    height: 313px;
    background-color: #EEE5DA;
    margin-left: 25%;
    margin-top: 2rem;
    animation: back-move 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
.web-pic {
    position: relative;
    display: inline-block;
}
.web-pic>img {
    display: block;
    margin: auto;
    width: 57%;
    margin-top: -17.8rem;
}
.web-text>h5 {
    background-color: #D6B894;
    padding: 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    margin-left: 3rem;
    margin-right: -1rem;
    margin-top: -2rem;
}
.web-text>a {
    display: block;
    text-align: center;
    color: black;
    font-weight: 300;
    margin-left: 4rem;
}
.web-text>a:hover {
    color: #D6B894;
}
/* styling the UX part */
.ux-back {
    display: block;
    width: 70%;
    height: 232px;
    background-color: #F8E4DD;
    margin-left: 7%;
    margin-top: 1rem;
    animation: back-move 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.ux-pic {
    position: relative;
    display: inline-block;
}
.ux-pic img {
    display: block;
    margin: auto;
    width: 61%;
    margin-top: -11.8rem;
}
.ux-text h5 {
    color: white;
    background-color: #D49E8D;
    padding: 1rem;
    font-weight: 700;
    margin-top: -2rem;
}
.ux-text h5:hover {
    background-color: #b88576;
}
/* styling the CMS part */
.cms-back {
    display: block;
    margin: auto;
    width: 75%;
    height: 304px;
    background-color: #EEE5DA;
    animation: back-move 2s;
    animation-fill-mode: forwards;
    animation-delay: 4.5s;
}
.cms-pic {
    position: relative;
    display: inline-block;
}
.cms-pic img {
    display: block;
    margin: auto;
    width: 58%;
    margin-top: -18.5rem;
}
.cms-text h5 {
    background-color: #D6B894;
    padding: 1rem;
    font-weight: 700;
    margin-top: -1.2rem;
}
.cms-text a {
    display: block;
    text-align: center;
    color: black;
    font-weight: 300;
}
.cms-text a:hover {
    color: #D6B894;
}

 /* ----------------
 GRAPHIC PAGE-MOBILE
 ------------------- */
 .header-page h5 {
    margin-top: 3rem;
    text-align: center;
    background-color: #D49E8D;
    color: white;
    font-weight: 700;
    width: 60%;
    padding: 1rem;
    font-size: 20pt;
 }
.golizhe-pic img, .poster-pic img,
.blackr-pic img {
    width: 70%;
    display: block;
    margin-top: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}
.golizhe-text, .poster-text,
.blackr-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.golizhe-text h6, .poster-text h6,
.blackr-text h6 {
    text-align: left;
    font-size: 16pt;
    font-weight: 500;
    margin-top: 2rem;
    color: #683B2B;
}
.golizhe-text p, .poster-text p,
.blackr-text p {
    display: inline-block;
    text-align: left;
    font-size: 13pt;
}

/* -----------------
   UX/UI PAGE-MOBILE 
   ------------------*/
.pnwx-pic img, .penny-pic img,
.tim-pic img {
    width: 70%;
    display: block;
    margin-top: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}
.pnwx-text, .penny-text,
.tim-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.pnwx-text h6, .penny-text h6,
.tim-text h6 {
    text-align: left;
    font-size: 16pt;
    font-weight: 500;
    margin-top: 2rem;
    color: #683B2B;
}
.pnwx-text p, .penny-text p,
.tim-text p {
    display: inline-block;
    text-align: left;
    font-size: 13pt;
}
.pnwx-text a:hover {
    color: #D6B894;
}
.tim-text a:hover {
    color: #D6B894;
}

/* Styling the footer */
footer {
    background-color: #D49E8D;
    display: flex;
    margin-top: 10%;
}
.logo {
    display: block;
    float: right;
    width: 20px;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.copyright {
    color: white;
    font-size: 11.5pt;
    margin-top: 2rem;
    margin-left: 2rem;
}
.social-media {
    position: absolute;
    right: 10px;
    margin-top: 1.5rem;
 }

/* ----------------------------
-------Tablet size style-------
------------------------------- */

@media (min-width: 768px) {
/* -----------
   HOME PAGE 
   ----------- */
.text-center {
    margin-top: 10rem;
    margin-left: 3rem;
    }
@keyframes move-from-right {
    from{transform: translatex(-500px);}
    to {transform: translatex(100%);}
}
/* ----------
   ABOUT PAGE
   ---------- */
.form {
    margin: auto;
    width: 70%;
    margin-top: 2rem;
}
/* .about {
    animation: move-from-left 3s;
    animation-fill-mode: forwards;
    margin-left: 2rem;   
} */
/* @keyframes move-from-left {        
    from{transform: translatex(-500px);}
    to {transform: translatex(15%);}
    } */
.form button {
    margin-left: 3.5rem;
    }
/* -------------------
  EXPLORE PAGE-TABLET 
  -------------------*/
.graphic-pic img {
    width: 50%;
}


/* ----------------------------
-------Desktop size style-------
------------------------------- */
@media (min-width: 1200px) {

/* ------------
    HOME PAGE 
    -----------*/
.home-pic {
    width: 100%;
}    
.text-center {
    margin-left: 10rem;
    margin-top: -15rem;
}
.text {
    text-align: left;
}
.text-center h5 {
    font-size: 120%;
}
/* .text {
    animation: move-from-right 2s;
    animation-fill-mode: forwards;
}
@keyframes move-from-right {
    from{transform: translatex(-500px);}
    to {transform: translatex(250%);}
} */

/* ------------------
   ABOUT PAGE-DESKTOP 
   ------------------*/
.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.my-pic {
    width: 75%;
}
.about {
    width: 120%;
    margin-left: -7rem;
    margin-top: 2rem;
}
.form {
    width: 50%;
}
.form button {
    margin-left: 4.5rem;
}
/* ---------------------
   EXPELORE PAGE-DESKTOP
   --------------------- */
.graphic {
    display: flex;
    flex-direction: row-reverse ;
    }
.graphic-back {
    position: absolute;
    width: 45%;
    height: 450px;
    margin-right: 20%;
    margin-top: 5%;
    padding-bottom: 10rem;
}    
.graphic-pic img {
    position: relative;
    margin-top: 15%;
    width: 70%;
    margin-right: 30%;
}
.graphic-text {
    width: 20%;
    margin-left: 22%;
    margin-top: 17%;
}
.graphic-text>h5 {
    padding: 2rem;
}

/* Maching styles to the desktop */
.web-design {
    display: flex;
    flex-direction: row;
}
.web-back {
    position: absolute;
    width: 48%;
    margin-left: 7%;
    margin-top: 10%;
    height: 550px;
}
.web-pic img {
    position: relative;
    margin-top: 15%;
    width: 70%;
    margin-left: 25%;
}
.web-text {
    width: 30%;
    margin-right: 19%;
    margin-top: 15%;
}
.web-text>h5 {
    padding: 2rem;
}

.ux-back {
    width: 55%;
    height: 500px;
    margin-top: 10%;
    margin-left: 15%;
}
.ux-pic img {
    width: 70%;
    margin-top: -50%;
    margin-left: 40%;
}
.ux-text {
    margin-top: 0.5rem;
    width: 20%;
    margin-right: 40%;
}
.ux-text h5 {
    padding: 1.5rem;
}
.cms {
    display: flex;
    flex-direction: row;
}
.cms-back {
    position: absolute;
    width: 50%;
    margin-left: 5%;
    margin-top: 7%;
    height: 600px;
}
.cms-pic>img {
    position: relative;
    margin-top: 15%;
    width: 80%;
    margin-left: 25%;
}
.cms-text {
    width: 35%;
    margin-right: 17%;
    margin-top: 15%;
}
.cms-text>h5 {
    padding: 2rem;
}

/* -----------------------
   GRAPHIC PAGE-DESKTOP
   ---------------------- */

.header-page {
    width: 50%;
}
.blackr-text, .poster-text,
.golizhe-text {
    margin-right: 15%;
}

.golizhe {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.goli-pic img {
    width: 65%;
    margin-left: 85%;
    margin-top: -40%;
}
.golizhe-pic {
    width: 120%;
}
.poster {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}
.poster img {
    width: 84%;
    margin-left: 18%;
}
.poster-text {
    margin-top: 70%;
}
.blackr-pic {
    display: flex;
    flex-direction: row;
}
.picb img{
    width: 90%;
    margin-left: 18%;
}
.picbr img {
    width: 80%;
    margin-right: 18%;
}
.blackr-text {
    width: 40%;
    margin-top: -10%;
    margin-left: 9%;
    margin-bottom: 10%;
}

/* UX/UI PAGE-DESKTOP */
.pnwx-text, .penny-text,
.tim-text {
    margin-right: 15%;
}
.pnwx {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pnwx-text {
    margin-top: 25%;
}
.penny-juice {
    margin-top: 3rem;
}
.pnwx-pic img {
    width: 85%;
    margin-left: 20%;
}
.penny-pic {
    display: flex;
    flex-direction: row;
}
.penny-pic1 img{
    width: 100%;
    margin-left: 30%;
}
.penny-pic2 img {
    width: 75%;
    margin-right: 8%;
    
}
.penny-text {
    width: 30%;
    margin-top: -12%;
}
.tim-hortons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}
.tim-pic img {
    width: 90%;
    margin-left: 18%;
}
.tim-text {
    margin-top: 20%;
}
}   
}