/* Changing the contant font */
body {
    font-family: 'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif;
}

/* Changing the style of menu */
#nav.nav{
    color: black;
    background-color: rgb(255, 255, 255);
    border: 0;
}
#nav .nav-link{
    font-size: 16px;
    margin-left: 2rem;
}

/* Changing the font and adding the image for banner */
body #main .home {
    font-family: 'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    background-image: url(images/banner2.jpg);
}
.main p {
  color: rgb(10, 49, 83);
  
}

/* Changing the font, background, and style of "about me" section */
.about p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
    font-size: 16pt;
    width: 90%;
    color: #235789;
}
body #about {
    background-color: rgb(205, 235, 235);
    border-bottom: 50px solid #82A7A6;
}
.about .section-title{
    color: #EDB6A3;
}
.about .about-image {
    width: 250px;
}

/* Styling contact section, changing font size and color */
body #contact {
    background-color: rgb(221, 221, 219);
}
body #contact p {
    font-size: 16pt;
    width: 90%;
    text-align: left;
    margin-left: 50px;
}
.contact .contact-form {
    background-color: rgb(226, 172, 162);
}
form label{
    font-size: 16px;
}
.contact-form-input {
    margin-bottom: 10px;
}

/* Alignining the footer */
footer p {
    margin-left: 150px;
}


