/* Changing the contant font */
body {
    font-family: 'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif;
}

/* Changing the style of menu */
#nav.nav{
    color: black;
    background-color: rgb(255, 255, 255);
    border: 0;
}
#nav .nav-link{
    font-size: 16px;
    margin-left: 2rem;
}

/* Changing the font and adding the image for banner */
body #main .home {
    font-family: 'Gill Sans', 'Gill Sans MT',
    Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    background-image: url(images/banner.jpg);
}

/* Changing the font, background, and style of "about me" section */
.about p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
    font-size: 16pt;
    width: 90%;
    color: slategray;
}
body #about {
    background-color: rgb(205, 235, 235);
    border-bottom: 50px solid rgb(130, 196, 192);
}
.about .section-title{
    color:tomato;
}
.about .about-image {
    width: 250px;
}

/*  */
body #contact {
    background-color: rgb(221, 221, 219);
}
.contact p {
    font-size: 16px;
    width: 90%;
}



