body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 18px;

}

header h1, footer{
    background-color: rgb(138, 175, 211);
}

.site-title {
    color: orangered;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}