body {
    font-family: Calibri, sans-serif;
    color: black
    font-size: 18px;
}

h1 {
    background-color: rgb(199, 197, 166);
}

nav ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid rgb(11, 92, 52);
    background-color: rgb(159, 201, 188);
    box-shadow: 1px 1px 2px 1px rgb(151, 150, 150);
}

nav ul li {
   list-style: none; 
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: lightsalmon;;
}

.shadow-link {
    box-shadow: 2px 2px 4px 3px grey;
}

article h2 {
    color: rgb(32, 139, 56)
}