html {
    font-family: 'montserrat';
	box-sizing: border-box;
	color: black;
	margin: 0 auto;
}

/* defining background color and font size */
body {
   background-color: #F7F7FF;
   font-size: 16px;
   margin-left: 5%;
   margin-right: 5%;
}

/* defining the logo size */
.logo {
    width: 114px;
    height: auto;
}

/* resizing the h1, h2 and p fonts according to xd file */
h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
.title p {
    font-size: 24px;
    margin-top: -2rem;
}

/* Aligning the main image to center */
.scooter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Aligning & styling the form of APPLy now part */
.style {
    display: block;
    margin-bottom: 1rem;
    width: 95%;
    padding: 10px;
    border:none;
    border-radius: 8px;
    background-color: rgb(233, 233, 233);
}
/* styling the "drive with us" button */
.apply button {
    background-color: #57EEAB;
    margin-top: 1rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
}
/* Aligning, curving & adding  */
.apply-now {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(189, 188, 188);
    margin-top: 2rem;
}

/* changing the link text in Apply par */
a {
    color: #FF8480;
}

/* Aligning and removing the margin in footer */
.footer {
    display: block;
    background-color: #FFFD8C;
    padding: 2rem;
    width: 100%;
    margin-top: 2rem;
    margin-left: -2rem;
}

/* Curving and removing the border of footer form */
.footer-form {
    border-radius: 8px;
    border: none;
    padding: 10px;
}
/* Styling the CALCULATE button */
.calculate-button {
    background-color: #FF8480;
    color: white;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    padding: 10px;
}
/* resizing the hours and city input text earia in footer */
#hours {
    width: 20%;
}
#city {
    width: 69%;
}
/* Aligning the social media icons */
.icon {
    text-align: center;
    margin: 1rem;
}
/* Adding margin on sicial media icons */
.icon img {
    margin: 1.5rem;
}

/* -------------------
   Tablet size styling
   ------------------- */
@media (min-width:768px) {

  h1 {
      font-size: 80px;
  }
  .info {
      font-size: 30px;
  }
  .apply-now lable {
      font-size: 20px;
  }
  .apply-now button {
      font-size: 32px;
  }
  .apply-now label {
      font-size: 20px;
  }

  .apply-link {
      text-align: center;
  }
  
  #hours {
      width: 15%;
  }
  #city {
      width: 40%;
  }
  .calculate-button {
      width: 32%;
  }
}
